vsphere_user="admin"
vsphere_password="secretsecret"
vsphere_server="10.10.10.3"
name = "ubuntu007"
dc = "Datacenter1"
cluster_name = "Cluster1"
datastore_name = "datastore1"
network_name = "VM Network1"
template = "UbuntuTemplate"
cpu = "1"
mem = "1024"
ipv4_addr = "10.10.10.65"
ipv4_mask = "24"
ipv4_gw = "10.10.10.1"
